*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
div.container{
    border: 3px solid pink;
    width: 80%;
    margin: 0 auto 0 auto;
}


header{
    background-color: pink;
}
.hero img{
    width: 50%
    margin-left: auto;
    margin-right: auto;
    display: block;
}
p{
    font-family: Arial;
}

nav{
background-color: pink;
}
ul{
    text-align: center;
}
li{
    display: inline-block;
    width: 180 px;
    border: 2px solid white;
    line-height: 3em;
    font-family: Arial;
    font-variant: small-caps;
}

a{
    color: white;
    text-decoration: none;

}
